
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1023px) {
    body { font-size: 16px; }
    section { padding: 60px 0;}
    .long-copy {
        width: 80%;
        margin-left:10%; 
    }
    .steps-box {margin-top:10px;}
    .steps-box:last-child {margin-top:10px;}
    .works-steps {margin-bottom:40px;}
    .works-step:last-of-type {margin-bottom: 60px; }
    .work {margin-top:0;}
    .logo {
        width: 70px;
        height: auto;}
        .contact-form {width: 80%}
    }

@media only screen and (max-width: 767px) {

    .work {display: none;} 

   .features {
       width: 100%;
       margin: 0%;
   }
  
   section {padding: 30px 0;}

   .row,
   .hero-text-box {padding: 0 4%;}

   .col {width: 100%;}

   .box img {
    width: 100%;
    height: auto;
   }

   .main-nav {
       display: none;
   }
   h1 {font-size: 180%};
   h2 {font-size: 150%};

   .long-copy {
       width: 100%;
       margin-left:0%;
   }

   .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size:120%;
    }
    .works-step p {
        width: 100%;
    }
   .works-step {margin-bottom:20px;}
   .works-step:last-of-type {margin-bottom: 20px; }
}

@media only screen and (max-width: 480px) {
   
}

