

/*...............................

.........BASIC SETUP...........*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*.clearfix {zoom: ;}
.claerfix:after {
	content:" ";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*.......................................

.........REUSABLE COMPONENTS...........*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*...............................

.........Features...........*/

.features .long-copy {
    margin-bottom: 30px;
}

/*...............................

.........HEADINGS...........*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 130%;

}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

/*.........Paragraphs..........*/

.long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*.........Links...........*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*.........Icons..........*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.fas {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*...............................

.........BUTTON...........*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 500px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active {
    background-color: #bf6516;
    border: 1px solid #bf6516;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #bf6516;
    color: #fff;
}

/*...............................

.........HAEDER...........*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/olivier-guillard-49712.jpg); /*Photo by Oliver Guillard on Unsplash*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;   
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border-radius: 80%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*...............................
.........pictures...........*/

.galery {
    padding: 0;
}

.pictures {
    list-style: none;
    width: 100%;
}

.pictures li {
    display: block;
    float: left;
    width: 25%;

}

.fig {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    /*tło jest czarne, a zdjęcie ma przezroczystość opacity 0.7, dzięki czemu zdjęcie jest ciemniejsze*/
}

.fig img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.fig img:hover {
    transform: scale(1.03);
    opacity: 1;
}

.clearfix {
    margin:0;
}
/*...............................

.........How it works...........*/

section.steps {
    background-color: #f4f4f4;

}

.steps-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.steps-box:first-child {
    /* margin-top: 50px; */
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.work {
    display: flex;
    justify-content:center;
    margin-left:50%;
    margin-top:8%;
    width: 50%;
    height: auto;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7px;
    float: left;
    font-size: 130%;
    margin-right: 25px;
}

.works-step p {
    width: 70%;
}

/*...............................

.........Countries...........*/

/* .box {
    padding-left: 5%;
} */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.name-country {
    margin-bottom: 5px;
}

/*...............................

.........Opinions...........*/

section.opinion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/john-towner-177554.jpg); /*Photo by John Towner on Unsplash*/
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

cite img {
    width: 50px;
    height: 40px;
    border-radius: 60%;
    margin-right: 10px;
    vertical-align: middle;

}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    border-left: none;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

/*...............................

.........Form...........*/

.contact-form {
    width: 60%;
    margin: 0 auto;

}

input[type=text],
input[type=email],
select,
textarea {
width: 100%;
padding: 7px;
border-radius: 3px;
border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/*...............................

.........Footer...........*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
list-style: none;
float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px; 
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border:0;
    color: #888;
    transition: color 0.2s;

}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-youtube {
    transition: color 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-google-plus-g:hover {
    color: #dd4b39; 
}

.fa-youtube:hover {
    color: #bb0000;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

